<!-- TODO:

- delete all messages
- change to local/internet
- format page
 -->

{% extends "layout.html" %}

{% block body %}
<script type="text/javascript">
    setInterval(function(){
      $.getJSON($SCRIPT_ROOT + '/stats', function(data) {
     $("#cpu").text(data.cpu),
     $("#mem").text(data.mem),
     $("#addr").text(data.addr),
     $("#disk").text(data.disk);
   });
 }, 2000);

</script>
<form action="{{ url_for('reboot') }}" method="post">
    <button type="submit" value="reboot" name="reboot">reboot</button>
</form>
<form action="{{ url_for('shutdown') }}" method="post">
  <button type="submit" value="shutdown" name="shutdown">shutdown</button>
</form>

<p>cpu: <span id=cpu>?</span>%</p>
<p>disk: <span id=disk>?</span>%</p>
<p>mem: <span id=mem>?</span>%</p>
<p>addr: <span id=addr>?</span></p>
{% endblock %}
