<!-- TODO:
- change to local/internet
 -->

{% extends "layout.html" %}

{% block body %}

<div class="row marketing">
  <div class="col-lg-6">
    <form action="{{ url_for('toggle_wifi') }}" method="post">
      <p><button class="btn btn-primary btn-block" type="submit" value="togglewifi" name="togglewifi">toggle wifi</button></p>
    </form>

    <form action="{{ url_for('clear_mem') }}" method="post">
      <p><button class="btn btn-primary btn-block" type="submit" value="clearmem" name="clearmem">clear sign mem</button></p>
    </form>

    <form action="{{ url_for('clear_db') }}" method="post">
      <p><button class="btn btn-primary btn-block" type="submit" value="cleardb" name="cleardb">clear db</button></p>
    </form>

    <form action="{{ url_for('reboot') }}" method="post">
        <p><button class="btn btn-primary btn-block" type="submit" value="reboot" name="reboot">reboot</button></p>
    </form>

    <form action="{{ url_for('shutdown') }}" method="post">
      <p><button class="btn btn-primary btn-block" type="submit" value="shutdown" name="shutdown">shutdown</button></p>
    </form>
  </div>

  <div class="col-lg-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>cpu:</td>
          <td><span id=cpu>?</span>%</td>
        </tr>
        <tr>
          <td>disk:</td>
          <td><span id=disk>?</span>%</td>
        </tr>
        <tr>
          <td>mem:</td>
          <td><span id=mem>?</span>%</td>
        </tr>
        <tr>
          <td>addr:</td>
          <td><span id=addr>?</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<script type="text/javascript">
    setInterval(function(){
      $.getJSON($SCRIPT_ROOT + '/stats', function(data) {
     $("#cpu").text(data.cpu),
     $("#mem").text(data.mem),
     $("#addr").text(data.addr),
     $("#disk").text(data.disk);
   });
 }, 2000);

</script>



{% endblock %}
